doctype html
html(lang="en" ng-app="App")
  head

    meta(charset="utf-8")
    title Nightingale

    //- PaceJS
    script(src="/components/pace/pace.min.js")
    link(rel="stylesheet" href="/components/pace/themes/pace-theme-minimal.css")

    | <!--[if IE]>
    link(rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon")
    | <![endif]-->

    link(rel="icon" href="/img/favicon.png" type="image/png")

    link(rel="stylesheet" href="/css/style.min.css")
    link(rel="stylesheet" href="/components/fontawesome/css/font-awesome.min.css")

  body(ng-controller="RootController")
    section
      header.main
        h1 Nightingale
        .subtitle(class="{{ notification.getColor() }}" ng-cloak) {{ notification.getText() }}

        a.subtitle.right(ng-click="showTweetForm()") Write new draft

    section
      .sidebar
        h3 Account
        ul
          a(href="/account"): li Settings
          a(href="/logout"): li Logout

        h3 Tags
        ul
          a(href="/tags/all"): li All
          a(ng-href="/tag/{{ tag }}" ng-repeat="tag in tags"): li {{ tag }}

      .content-wrapper

        div(ng-if="composing")
          header

            div(ng-if="!editing")
              h2 Write new draft
              .subtitle Make it awesome!
            div(ng-if="editing")
              h2 Edit draft
              .subtitle Make it pop :)

            .subtitle.right(ng-class="{ red: getFormRemainingChars() < 0 }") {{ getFormRemainingChars() }}

          .tweet.compose
            textarea(rows="4" placeholder="Enter tweet" ng-model="newTweet.content")

            .tags: input(type="text" placeholder="Enter tags" ng-model="newTweet.unsplitTags")

            .actions
              li: a(ng-click="submitTweet()") save
              li: a(ng-click="closeTweetForm()") cancel

        div(ng-view="")

    //- Vendor libs
    script(src="/components/lodash/dist/lodash.min.js")
    script(src="/components/angular/angular.min.js")
    script(src="/components/angular-route/angular-route.min.js")
    script(src="/components/angular-resource/angular-resource.min.js")
    script(src="/components/twitter-text/pkg/twitter-text-1.9.0.min.js")

    //- App
    script(src="/js/service_cache.js")

    script(src="/js/app.js")
    script(src="/js/factories/tweet.js")
    script(src="/js/factories/user.js")

    script(src="/js/services/tweet.js")
    script(src="/js/services/user.js")
    script(src="/js/services/notification.js")

    script(src="/js/controllers/root.js")
    script(src="/js/controllers/account.js")
    script(src="/js/controllers/tag.js")

    //- Typekit
    script(src="//use.typekit.net/ghq6mng.js")
    script.
      try{Typekit.load();}catch(e){}
