doctype html
html(lang="en" ng-app="App")
  head

    meta(charset="utf-8")
    title Nightingale

    //- PaceJS
    script(src="/components/pace/pace.min.js")
    link(rel="stylesheet" href="/components/pace/themes/pace-theme-minimal.css")

    | <!--[if IE]>
    link(rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon")
    | <![endif]-->

    link(rel="icon" href="/img/favicon.png" type="image/png")

    link(rel="stylesheet" href="/styles/vendor/reset.css")
    link(rel="stylesheet" href="/styles/style.css")
    link(rel="stylesheet" href="/components/fontawesome/css/font-awesome.min.css")

  body(ng-controller="RootController")
    section
      header.main
        h1 Nightingale
        .subtitle An authentic twitter drafter

    section
      .sidebar
        h3 Account
        ul
          a(href="/account"): li Settings
          a(href="/logout"): li Logout

        h3 Tags
        ul
          a(href="/tags/all"): li All
          a(ng-href="/tags/{{ tag }}" ng-repeat="tag in tags"): li {{ tag }}

      .content-wrapper(ng-view="")

    //- Vendor libs
    script(src="/components/lodash/dist/lodash.min.js")
    script(src="/components/angular/angular.min.js")
    script(src="/components/angular-route/angular-route.min.js")
    script(src="/components/angular-resource/angular-resource.min.js")

    //- App
    script(src="/app/service_cache.js")

    script(src="/app/app.js")
    script(src="/app/factories/tweet.js")

    script(src="/app/services/tweet.js")
    script(src="/app/services/user.js")

    script(src="/app/controllers/root.js")
    script(src="/app/controllers/account.js")
    script(src="/app/controllers/tag.js")

    //- Typekit
    script(src="//use.typekit.net/mse0mpp.js")
    script.
      try{Typekit.load();}catch(e){}
