.green
  color #2ecc71 !important
.red
  color #e74c3c !important
.gray
  color #95a5a6 !important
.blue
  color #0099CC !important
.yellow
  color #f1c40f !important
.orange
  color #f39c12 !important
