body
  background-color #fefefe
  color #333
  font-family "calluna", serif

h1, h2, h3, h4, h5, h6
  font-family "sail", fantasy

.right
  float right

h1
  font-size 48px

h2
  font-size 36px

h3
  font-size 28px

a
  text-decoration none
  color inherit

  &:hover
    text-decoration underline
    cursor pointer

section
  width 960px
  margin 0 auto
  position relative

  padding-top 16px

.subtitle
  font-size 18px
  margin-top 8px
  font-style italic
  color #999

textarea, input
  width 100%
  border 1px solid #eee
  padding 8px

  font-family "calluna", serif
  font-size 18px

  color #333 !important
