.tweet
  display block
  padding 16px 64px
  margin-bottom 16px

  border-top 1px solid #eee

  &.disabled
    color #ccc

  p
    font-size 24px
    line-height 1.5

    a
      text-decoration underline

  .tags, .actions
    margin-top 16px
    display inline-block
    vertical-align middle
    width 50%
    font-size 18px

    li
      display inline-block
      vertical-align top
      margin-left 16px

      &:first-child
        margin-left 0

  .tags
    color #aaa

  .actions
    color #333

    li
      float right

      margin-left 0
      margin-right 16px

      &:first-child
        margin-right 0

    .disabled
      text-decoration line-through

      &:hover
        cursor default

.tweet.image-preview
  .image-container
    width 100%
    overflow hidden
    margin-top 8px
    border-radius 8px

    img
      width 100%

    &.minimized
      max-height 256px

      img
        margin-top -200px

.tweet.compose
  margin-bottom 256px


