doctype html
html(lang="en")
  head

    meta(charset="utf-8")
    title Nightingale

    //- PaceJS
    script(src="/components/pace/pace.min.js")
    link(rel="stylesheet" href="/components/pace/themes/pace-theme-minimal.css")

    | <!--[if IE]>
    link(rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon")
    | <![endif]-->

    link(rel="icon" href="/img/favicon.png" type="image/png")

    link(rel="stylesheet" href="/styles/vendor/reset.css")
    link(rel="stylesheet" href="/styles/style.css")
    link(rel="stylesheet" href="/components/fontawesome/css/font-awesome.min.css")

  body
    section
      header.main
        h1 Nightingale
        .subtitle An authentic twitter drafter

    section
      .sidebar
        h3 Account
        ul
          a(href="#"): li Settings
          a(href="#"): li Logout

        h3 Tags
        ul
          a(href="#"): li Finance
          a(href="#"): li Quotes
          a(href="#"): li Productivity
          a.active(href="#"): li Startups
          a(href="#"): li Flames

      .content-wrapper
        header
          h2 Startups
          .subtitle 5 sizzling drafts

          img.right(src="https://pbs.twimg.com/profile_images/446610898900115457/TTM9XNng_bigger.png" height="48")

        ul
          li.tweet
            p
              | I am reading &ldquo;The Hard Thing About Hard Things&rdquo; along with another CEO, it is really the best book on startups. Training section 
              a(href="#") #dmorOH

            ul.tags
              li: a(href="#") #startups
              li: a(href="#") #books

            ul.actions
              li: a(href="#") tweet
              li: a(href="#") edit

          li.tweet.image-preview
            p Crowdsourcing will soon be embedded in every online activity.

            .image-container.minimized
              img(src="https://pbs.twimg.com/media/BlklIZECIAA-cry.jpg")

            ul.tags
              li: a(href="#") #startups
              li: a(href="#") #opinion

            ul.actions
              li: a(href="#") tweet
              li: a(href="#") edit

          li.tweet
            p
              | If you, say, got stuck in your 
              a(href="#") #startup
              | &rsquo;s growth process, and someone said, &ldquo;hey, here&rsquo;s a checklist that could help!&rdquo;, would you be happy?

            ul.tags
              li: a(href="#") #startups
              li: a(href="#") #questions
              li: a(href="#") #research

            ul.actions
              li: a(href="#") tweet
              li: a(href="#") edit

          li.tweet
            p
              | &ldquo;Almost every business idea is guaranteed not to work out the first try. Validate, validate, validate.&rdquo; 
              a(href="#") @noahkagan
              | 
              a(href="#") #leanstartup
              | 
              a(href="#") #tacoshirt

            ul.tags
              li: a(href="#") #startups
              li: a(href="#") #books

            ul.actions
              li: a(href="#") tweet
              li: a(href="#") edit

          li.tweet
            p
              | &ldquo;I am reading "The Hard Thing About Hard Things" along with another CEO, it is really the best book on startups. Training section 
              a(href="#") #dmorOH
              | &rdquo;

            ul.tags
              li: a(href="#") #startups
              li: a(href="#") #books

            ul.actions
              li: a(href="#") tweet
              li: a(href="#") edit

    //- Vendor libs
    script(src="/components/lodash/dist/lodash.min.js")
    script(src="/components/angular/angular.min.js")
    script(src="/components/angular-route/angular-route.min.js")

    //- Typekit
    script(src="//use.typekit.net/mse0mpp.js")
    script.
      try{Typekit.load();}catch(e){}
