header
  h2 {{ tag }}
  .subtitle(ng-pluralize count="tweets.length" when="{ '0': 'You don\\'t have any drafts ;(', 'one': 'You have 1 draft', 'other': 'You have {} drafts' }")

  img.right(src="https://pbs.twimg.com/profile_images/446610898900115457/TTM9XNng_bigger.png" height="48")

ul
  li.tweet(ng-repeat="tweet in tweets" ng-class="{ disabled: tweet.consumed }")
    p {{ tweet.content }}

    ul.tags
      li(ng-repeat="tag in tweet.tags")
        a(ng-href="/tag/{{ tag }}") \#{{ tag }}

    ul.actions
      div(ng-if="!tweet.consumed")
        li: a(ng-click="consumeTweet(tweet.id)") tweet
        li: a(ng-click="editTweet(tweet.id)") edit
      div(ng-if="tweet.consumed")
        li sent {{ tweet.consumed_date_str }}

      li: a(ng-click="deleteTweet(tweet.id)") delete
