header
  h2 {{ tag }}
  .subtitle(ng-pluralize count="tweets.length" when="{ '0': 'You don\\'t have any drafts ;(', 'one': 'You have 1 draft', 'other': 'You have {} drafts' }")

  img.right(src="https://pbs.twimg.com/profile_images/446610898900115457/TTM9XNng_bigger.png" height="48")

ul
  li.tweet(ng-repeat="tweet in tweets")
    p {{ tweet.content }}

    ul.tags
      li(ng-repeat="tag in tweet.tags")
        a(ng-href="/tag/{{ tag }}") \#{{ tag }}

    ul.actions
      li: a(ng-click="consumeTweet(tweet.id)") tweet
      li: a(ng-click="editTweet(tweet.id)") edit
      li: a(ng-click="deleteTweet(tweet.id)") delete

//- ul
  li.tweet
    p
      | I am reading &ldquo;The Hard Thing About Hard Things&rdquo; along with another CEO, it is really the best book on startups. Training section 
      a(href="#") #dmorOH

    ul.tags
      li: a(href="#") #startups
      li: a(href="#") #books

    ul.actions
      li: a(href="#") tweet
      li: a(href="#") edit

  li.tweet.image-preview
    p Crowdsourcing will soon be embedded in every online activity.

    .image-container.minimized
      img(src="https://pbs.twimg.com/media/BlklIZECIAA-cry.jpg")

    ul.tags
      li: a(href="#") #startups
      li: a(href="#") #opinion

    ul.actions
      li: a(href="#") tweet
      li: a(href="#") edit

  li.tweet
    p
      | If you, say, got stuck in your 
      a(href="#") #startup
      | &rsquo;s growth process, and someone said, &ldquo;hey, here&rsquo;s a checklist that could help!&rdquo;, would you be happy?

    ul.tags
      li: a(href="#") #startups
      li: a(href="#") #questions
      li: a(href="#") #research

    ul.actions
      li: a(href="#") tweet
      li: a(href="#") edit

  li.tweet
    p
      | &ldquo;Almost every business idea is guaranteed not to work out the first try. Validate, validate, validate.&rdquo; 
      a(href="#") @noahkagan
      | 
      a(href="#") #leanstartup
      | 
      a(href="#") #tacoshirt

    ul.tags
      li: a(href="#") #startups
      li: a(href="#") #books

    ul.actions
      li: a(href="#") tweet
      li: a(href="#") edit

  li.tweet
    p
      | &ldquo;I am reading "The Hard Thing About Hard Things" along with another CEO, it is really the best book on startups. Training section 
      a(href="#") #dmorOH
      | &rdquo;

    ul.tags
      li: a(href="#") #startups
      li: a(href="#") #books

    ul.actions
      li: a(href="#") tweet
      li: a(href="#") edit
